.App {
  text-align: center;
}
.con{
  background-color: beige;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 30px;

}

.person{
  width: 80%;
  margin: 0px auto 0px auto;
  ;
}
.person-img{
  width: 200px;
  border-radius: 20px;
  
}
.details{
  width: 40%;
  margin: 0 auto;

}
.details p{
  display: flex;
  align-items: center;
  margin:10px auto;
}
.details p img{
padding-right: 25px;
}
button{
  padding: 10px;
  background-color: blanchedalmond;
  margin-top: 20px;
  border-radius: 10px;
}
button:hover{
  background-color: black;
  color: antiquewhite;
  transition: 1s;
}